.App {
}
/* background-color: rgba(145, 145, 139, 0.333);
background-color: #edf1f5af;*/

.table-main {
  margin-top: -2%;
}

.input-form {
  margin-top: 5%;
  position: relative;
  width: 450px;
  height: 100px;
  left: 10px;
}

.logo {
  margin: 0;
  padding: 0;
  position: relative;
}
