.App {
  background-color: rgba(172, 159, 159, 0.26);
  overflow: hidden;
}
/* 
 background-color: "#f5f5f5";
background-color: rgba(145, 145, 139, 0.333);
background-color: #edf1f5af;
background-color: rgba(217, 241, 245, 0.333);*/

.logo {
  margin: 0;
  padding: 0;
  position: relative;
}
